{% extends 'base.html' %}

{% block titulo %}
    Tablero Kanban
{% endblock %}

{% block contenido %}
<style>
    .kanban-tarjeta {
        background-color: #B2E0E6; /* Color celeste claro mate */
        border: 1px solid #A4D6E1; /* Puedes ajustar el borde si lo deseas */
        border-radius: 5px; /* Esquinas redondeadas */
        margin-bottom: 10px; /* Espaciado entre tarjetas */
        box-shadow: none; /* Sin sombra para un acabado mate */
    }

    .kanban-tarjeta:hover {
        background-color: #A1D2D6; /* Color al pasar el mouse (opcional) */
    }
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Tablero Kanban</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Columna Inactivo -->
            <div class="col-md-3" {% if puede_cambiar_estado %} ondrop="drop(event, 'Inactivo')" ondragover="allowDrop(event)" {% endif %}>
                <h2 style="font-size: 1.5em;">Inactivo</h2>
                <div class="kanban-column">
                    {% for tarjeta in tarjetas_por_estado.Inactivas %}
                        <div class="kanban-tarjeta card" {% if puede_cambiar_estado %} draggable="true" ondragstart="drag(event, '{{ tarjeta.id }}')" {% endif %}>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'visualizar_contenido' tarjeta.id %}">{{ tarjeta.titulo }}</a>
                                </h5>
                                <p class="card-text">{{ tarjeta.descripcion }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No hay tarjetas inactivas.</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Columna Borrador -->
             <div class="col-md-3" {% if puede_cambiar_estado %} ondrop="drop(event, 'Borrador')" ondragover="allowDrop(event)" {% endif %}>
                <h2 style="font-size: 1.5em;">Borrador</h2>
                <div class="kanban-column">
                    {% for tarjeta in tarjetas_por_estado.Borrador %}
                        <div class="kanban-tarjeta card" {% if puede_cambiar_estado %} draggable="true" ondragstart="drag(event, '{{ tarjeta.id }}')" {% endif %}>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'visualizar_contenido' tarjeta.id %}">{{ tarjeta.titulo }}</a>
                                </h5>
                                <p class="card-text">{{ tarjeta.descripcion }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No hay tarjetas en borrador.</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Columna Revisión -->
            <div class="col-md-3" {% if puede_cambiar_estado %} ondrop="drop(event, 'Revision')" ondragover="allowDrop(event)" {% endif %}>
                <h2 style="font-size: 1.5em;">En Revisión</h2>
                <div class="kanban-column">
                    {% for tarjeta in tarjetas_por_estado.Revision %}
                        <div class="kanban-tarjeta card" {% if puede_cambiar_estado %} draggable="true" ondragstart="drag(event, '{{ tarjeta.id }}')" {% endif %}>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'visualizar_contenido' tarjeta.id %}">{{ tarjeta.titulo }}</a>
                                </h5>
                                <p class="card-text">{{ tarjeta.descripcion }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No hay tarjetas en revisión.</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Columna Activo -->
            <div class="col-md-3" {% if puede_cambiar_estado %} ondrop="drop(event, 'Activo')" ondragover="allowDrop(event)" {% endif %}>
                <h2 style="font-size: 1.5em;">Activo</h2>
                <div class="kanban-column">
                    {% for tarjeta in tarjetas_por_estado.Activas %}
                        <div class="kanban-tarjeta card" {% if puede_cambiar_estado %} draggable="true" ondragstart="drag(event, '{{ tarjeta.id }}')" {% endif %}>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'visualizar_contenido' tarjeta.id %}">{{ tarjeta.titulo }}</a>
                                </h5>
                                <p class="card-text">{{ tarjeta.descripcion }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No hay tarjetas activas.</p>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
</div>

<script>
    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event, tarjetaId) {
        event.dataTransfer.setData("text", tarjetaId);
    }

    function drop(event, nuevoEstado) {
        event.preventDefault();
        const tarjetaId = event.dataTransfer.getData("text");

        // Construir la URL manualmente
        const url = `/tablero_kanban/actualizar_estado/${tarjetaId}/${nuevoEstado}/`;

        // Hacer una solicitud AJAX para actualizar el estado de la tarjeta
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de que tengas el token CSRF en el encabezado
            }
        })
        .then(response => {
            if (response.ok) {
                location.reload(); // Recarga la página para reflejar los cambios
            } else {
                alert('Error al actualizar el estado de la tarjeta');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Función para obtener el token CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Comprueba si este es el cookie que buscamos
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
