<form enctype="multipart/form-data" method="post" onsubmit="return confirmarEnvio();">
    {% csrf_token %}
    {% for campo in formulario %}
    <style>
        input{
            width: 100%; /* Ocupa todo el ancho disponible */
            padding: 10px; /* Espaciado interno */
            font-size: 16px; /* Tamaño de fuente para el input */
            border: 1px solid #ccc; /* Borde ligero */
            border-radius: 5px; /* Bordes redondeados */
            box-sizing: border-box; /* Asegura que el padding no desborde el input */
        }
        select{
            width: 100%; /* Ocupa todo el ancho disponible */
            padding: 10px; /* Espaciado interno */
            font-size: 16px; /* Tamaño de fuente para el input */
            border: 1px solid #ccc; /* Borde ligero */
            border-radius: 5px; /* Bordes redondeados */
            box-sizing: border-box; /* Asegura que el padding no desborde el input */
        }
        #acceptButton{
            width: auto;
        }
        #fileInput{
            padding: 0;
            margin: 0;
            width: 50%;
        }
    </style>
    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}</label>
        {{ campo }}  <!-- Django automáticamente renderiza el campo como un <select> -->
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
    {% endfor %}
    <input
        name=""
        id="acceptButton"
        class="btn btn-success"
        type="submit"
        value="Aceptar"
    />
    <a
        name=""
        id=""
        class="btn btn-secondary"
        href="{% url 'subcategorias' %}"
        role="button"
        >Cancelar</a
    >
    <script>
        function confirmarEnvio() {
            return confirm("¿Estás seguro de que deseas realizar esta acción?");
        }
    </script>
    
</form>