<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <label for="" class="form-label">Descripcion</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <label for="" class="form-label">Padre</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
    </div>
    <div>
        <a
            name=""
            id=""
            class="btn btn-primary"
            href="#"
            role="button"
            >Alicar Cambios</a
        >
        
    </div>
    
</form>