{% extends "base.html" %}
{% block Titulo %} Todas las Categorias {% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header text-end">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear_sub' %}"
            role="button"
        >Nueva Subcategoria</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">SubCategorías</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Padre</th>
                        <th scope="col">Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for subcategoria in subcategorias %}
                    <tr class="">
                        <td scope="row">{{subcategoria.id}}</td>
                        <td>{{subcategoria.nombre}}</td>
                        <td>{{subcategoria.categoriaPadre}}</td>
                        <td>{{subcategoria.descripcion}}</td>
                        <td><a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="{% url 'editar_sub' subcategoria.id %}"
                            role="button"
                            >Editar</a
                        >
                        <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="{% url 'borrar_sub' subcategoria.id %}"
                            role="button"
                            >Borrar</a
                        >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}
