{% extends 'base.html' %}
<!--para mostrar mensaje de exito -->
{% block contenido %}
<div class="container">
    <h2>Cambios realizados en Subcategoria</h2>
    <div class="card mb-3">
        <div class="card-body">
            <p>Se han realizado los cambios exitosamente</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'subcategorias' %}" class="btn btn-primary">CONTINUAR</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
