
{% extends "base.html" %}

{% block titulo %} Reportes {% endblock %}
{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Contenidos Publicados y Rechazados</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Reporte de Contenidos Inactivos y Activos</h1>
    
    <!-- Formulario para seleccionar el rango de fechas -->
    <form method="POST" action="">
        {% csrf_token %}
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required>
        
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required>
        
        <button type="submit">Generar reporte</button>
    </form>

    <!-- Gráfico generado -->
    <div>
        {{ graph_json|safe }}
    </div>
</body>
</html>


{% endblock %}