{% extends "base.html" %}
{% block titulo %} Confirmación de Registro {% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card text-center">
                <div class="card-header custom-bg text-white">
                    <h4 class="mb-0">Confirmación</h4>
                </div>
                <div class="card-body">
                    <h1 class="display-4">Te has registrado correctamente</h1>
                    <p class="lead">¡Gracias por registrarte! Ahora puedes iniciar sesión.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
