
{% extends 'base.html' %}


{% block content %}
<h1>Pagina en proceso</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic laboriosam tempore aspernatur non ex beatae excepturi. Expedita eos, recusandae ipsum fugiat cupiditate quod dicta officiis iure id nesciunt consequuntur libero necessitatibus dolorum minus! Recusandae excepturi itaque quia totam, voluptates cupiditate consectetur quidem ipsa magni praesentium. Vel est cum adipisci alias commodi facilis consectetur ex omnis nostrum debitis tempore, porro earum quam iste magni tempora velit dolorem reprehenderit provident quasi nemo repellendus? Quod eaque hic odio harum eum corrupti quas, voluptas laudantium dolore excepturi magni totam beatae qui rerum nostrum architecto optio alias soluta possimus. Tempore provident reiciendis error velit!</p>
{% endblock %}