{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}
{% load socialaccount %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <form action="/Iniciar_Sesion/" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary">
                                Entrar
                            </button>
                        </div>
                    </form>

<a href="http://localhost:8080/auth/realms/sso-login/protocol/openid-connect/auth?client_id=sso-login-django&redirect_uri=http://localhost:8000/callback&response_type=code&scope=openid" class="btn btn-primary">Entrar con cuenta de GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
