{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}
{% load socialaccount %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header custom-bg text-white text-center">
                    <h4 class="mb-0">Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form-in-out">
                        <form action="/Iniciar_Sesion/" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-center mt-3">
                                <button type="submit" class="btn btn-primary">
                                    Entrar
                                </button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-header bg-light text-white text-center">
                <h4 style="color: black;">o Iniciar Sesión</h4>
                
<a href="{% provider_login_url 'google' %}" class="btn btn-secondary">con Google</a>
<a href="{% provider_login_url 'github' %}" class="btn btn-secondary">con GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
