{% extends "base.html" %}
{% block titulo %} Lista de Usuarios Registrados {% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header custom-bg text-white text-center">
                    <h4 class="mb-0">Lista de Usuarios Registrados</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Fecha de Registro</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.date_joined }}</td>
                                <td>
                                    
                                    <a href="{% url 'cambiar_rol_usuario' usuario.id %}" class="btn btn-sm btn-warning">Editar</a>
                                    <form action="{% url 'eliminar_usuario' usuario.id %}" method="POST" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
                                            Eliminar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No hay usuarios registrados.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
