{% extends 'base.html' %} {% block contenido %}
<div class="container">
  <p class="text-uppercase text-muted" style="font-size: 0.8rem">
    {{ contenido.categoria.nombre }}
  </p>

  <h2>{{ contenido.titulo }} (Aceptado)</h2>
  <div
    class="card"
    style="
            margin: {{ contenido.plantilla.margenes.izq }}px {{ contenido.plantilla.margenes.der }}px {{ contenido.plantilla.margenes.aba }}px {{ contenido.plantilla.margenes.arr }}px;
            background-color: {{ contenido.plantilla.colorFondo.codigo }};
        "
  >
    <div class="card-body">
      <div class="contenido">{{ contenido.contenido|safe }}</div>
    </div>
  </div>
  <br />
  <div>
    <!-- Botones de acción -->
    {% if perms.Contenidos.can_activateContenido %}
      <h6 style="color: brown">Desea publicar el contenido?</h6>
    <!-- prettier-ignore -->
    <form action="{% url 'publicar_contenido' contenido.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" name="accion" value="1">Publicar Contenido</button>
      <button type="submit" class="btn btn-primary" name="accion" value="0">Devolver a revisión</button>
      <a class="btn btn-secondary" href="{% url 'contenidos' %}" role="button"
        >Salir</a
      >
    </form>
    {% else %}
      <h6 style="color: brown">Esperando confirmación de un publicador...</h6>
      <a class="btn btn-secondary" href="{% url 'contenidos' %}" role="button"
      >Volver</a
    >
    {% endif %}
  </div>
  <br />
  {% endblock %}
</div>