{% extends "base.html" %}

{% block Titulo %} Todos los Contenidos {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        {% if perms.Contenidos.add_contenidos %}
         <a class="btn btn-success" href="{% url 'crear_contenido' %}" role="button">Nuevo Contenido</a> <!-- para crear contenido-->
        {% endif %}
    </div>
    <div class="card-body">
        <h4 class="card-title">Contenidos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Fecha de creación</th>
                      {% if perms.Contenidos.change_contenidos and perms.Contenidos.delete_contenidos %}
                            <th>Acciones</th>
                         {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for contenido in contenidos %}
                    <tr>
                        <td>{{ contenido.id }}</td>
                        <td>
                            <a href="{% url 'visualizar_contenido' contenido.id %}">{{ contenido.titulo }}</a> <!-- Enlace al detalle del contenido -->
                        </td>
                        <td>{{ contenido.get_tipo_display }}</td>
                        <td>{{ contenido.fecha_creacion }}</td>
                        <td>
                            {% if perms.Contenidos.change_contenidos %}
                            <a class="btn btn-info" href="{% url 'editar_contenido' contenido.id %}" role="button">Editar</a>
                            {% endif %}
                            {% if perms.Contenidos.delete_contenidos %}
                            <a class="btn btn-danger" href="{% url 'eliminar_contenido' contenido.id %}" role="button">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No hay contenidos disponibles.</td> <!-- en caso de que no se hayan creado contenidos-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
