<form enctype="multipart/form-data" method="post" onsubmit="return confirmarEnvio();">
    {% csrf_token %}
    
    <!-- Campos del formulario -->
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
        {{ campo }}  <!-- Django automáticamente renderiza el campo como el tipo adecuado -->
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
    {% endfor %}
    
    <!-- Editor de texto con opciones de formato -->
    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido:</label>
        <div id="toolbar">
            <button type="button" onclick="formatText('bold')"><b>Negrita</b></button>
            <button type="button" onclick="formatText('italic')"><i>Cursiva</i></button>
            <button type="button" onclick="formatText('underline')"><u>Subrayado</u></button>
            <button type="button" onclick="saveText()">Guardar</button>
            <input type="file" id="fileInput" />
            <button type="button" onclick="loadFromFile()">Cargar</button>
        </div>
        <div id="editor" contenteditable="true" class="form-control" style="height: 300px;">
            {{ form.instance.contenido|safe }}
        </div>
        <input type="hidden" id="editorContent" name="contenido" />
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'contenidos' %}" role="button">Cancelar</a>
    
    <script>
        function confirmarEnvio() {
            return confirm("¿Estás seguro de que deseas realizar esta acción?");
        }
        
        function formatText(command) {
            document.execCommand(command, false, null);
        }

        function saveText() {
            const text = document.getElementById("editor").innerHTML;
            localStorage.setItem("text", text);
            alert("Texto guardado");
        }

        function loadFromFile() {
            const fileInput = document.getElementById("fileInput");
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const content = e.target.result;
                    document.getElementById("editor").innerHTML = content;
                };
                reader.readAsText(file);
            } else {
                alert("Por favor selecciona un archivo");
            }
        }

        document.querySelector('form').addEventListener('submit', function() {
            const editorContent = document.getElementById('editor').innerHTML;
            document.getElementById('editorContent').value = editorContent;
        });
    </script>
</form>
