{% extends 'base.html' %}

{% block contenido %}
    <div class="container">
        <p class="text-uppercase text-muted" style="font-size: 0.8rem;">
            {{ contenido.categoria.nombre }}
        </p>

        <h2>{{ contenido.titulo }}</h2>
        <div class="card" style="
            margin: {{ contenido.plantilla.margenes.izq }}px {{ contenido.plantilla.margenes.der }}px {{ contenido.plantilla.margenes.aba }}px {{ contenido.plantilla.margenes.arr }}px;
            background-color: {{ contenido.plantilla.colorFondo.codigo }};
        ">

            <div class="card-body">
                <div class="contenido">
                    {{ contenido.contenido|safe }}
                </div>
            </div>
        </div>

        <div class="mt-3">
            <p><strong> POR: {{contenido.autor}}</strong></p>
            <p> {{contenido.fecha_creacion}}</p>
        </div>
    </div>
{% endblock %}
