{% extends 'base.html' %}

{% block contenido %}
    <div class="container">
        <h2>{{ contenido.titulo }}</h2>
        <div class="card" style="
            margin: {{ plantilla.margenes.izq }}px {{ plantilla.margenes.der }}px {{ plantilla.margenes.aba }}px {{ plantilla.margenes.arr }}px;
            background-color: {{ plantilla.colorFondo.codigo }};
        ">
            <div class="card-body">
                <div class="contenido">
                    {{ contenido.contenido|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
