{% extends "base.html" %}
{% block Titulo %} Todas las Plantillas {% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            <a
                class="btn btn-success"
                href="{% url 'crear_plantilla' %}"
                role="button"
            >
                Nueva Plantilla
            </a>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Plantillas</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Margenes (cm)</th>
                        <th scope="col">Color de fondo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for plantilla in plantillas %}
                    <tr class="">
                        <td scope="row">{{plantilla.id}}</td>
                        <td>{{plantilla.nombre}}</td>
                        <td>{{plantilla.descripcion}}</td>
                        <td>{{plantilla.margenes}}</td>
                        <td>{{plantilla.colorFondo}}</td>
                        <td><a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="{% url 'editar_plantilla' plantilla.id %}"
                            role="button"
                            >Editar</a
                        >
                        <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="{% url 'borrar_plantilla' plantilla.id %}"
                            role="button"
                            >Borrar</a
                        >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}
